/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors light */
    --pink-main: #FD60AF;
    --purple-dark: #554DD4;
    --purple-light: #A45EE3;
    --font-color: white;

    --shadow: box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);

}
body{
    background-color: #A45EE3;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='555' preserveAspectRatio='none' viewBox='0 0 1440 555'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1144%26quot%3b)' fill='none'%3e%3crect width='1440' height='555' x='0' y='0' fill='rgba(164%2c 94%2c 227%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c329.041C64.54%2c326.942%2c131.972%2c324.756%2c185.422%2c288.522C238.331%2c252.654%2c266.072%2c191.713%2c290.007%2c132.442C313.081%2c75.303%2c328.343%2c15.04%2c320.545%2c-46.087C312.669%2c-107.821%2c280.509%2c-161.356%2c245.924%2c-213.095C207.005%2c-271.318%2c169.843%2c-333.823%2c107.233%2c-365.202C38.816%2c-399.492%2c-44.95%2c-423.313%2c-115.803%2c-394.39C-185.906%2c-365.773%2c-204.326%2c-277.194%2c-252.159%2c-218.497C-298.1%2c-162.121%2c-379.036%2c-127.941%2c-391.341%2c-56.266C-403.668%2c15.54%2c-349.64%2c79.824%2c-314.311%2c143.541C-281.573%2c202.585%2c-251.481%2c266.528%2c-193.339%2c300.842C-136.091%2c334.629%2c-66.44%2c331.202%2c0%2c329.041' fill='%239c50e1'%3e%3c/path%3e%3cpath d='M1440 1009.427C1523.063 1019.159 1581.699 927.441 1642.343 869.852 1693.247 821.512 1727.325 762.95 1763.134 702.5699999999999 1803.467 634.561 1864.386 572.909 1865.334 493.846 1866.327 411.009 1833.629 321.475 1768.315 270.514 1704.726 220.899 1614.073 243.95299999999997 1533.89 235.23899999999998 1469.182 228.207 1404.313 202.73899999999998 1342.892 224.279 1282.654 245.404 1251.66 307.952 1204.35 350.808 1148.987 400.96000000000004 1067.396 427.724 1041.115 497.649 1013.512 571.091 1018.517 662.511 1062.872 727.2280000000001 1106.295 790.5840000000001 1204.497 779.742 1265.994 825.759 1334.914 877.331 1354.506 999.4100000000001 1440 1009.427' fill='%23ac6ce5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1144'%3e%3crect width='1440' height='555' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: white;
}

.dark_mode:root{
    --pink-main: #FABB28;
    --purple-dark: #211E1F;
    --purple-light: #0C0C0C;
    --font-color: black;
}

@font-face {
    font-family: 'Clarika';
    src: url(./Wild\ Edge\ -\ Clarika\ Pro\ GeoDEMO\ Heavy.otf);
}

::-webkit-scrollbar {
    background-color: var(--pink-main);
    width: 8px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
h1{
    margin: 0;
}
select{
    color: black;
}
option{
    color: #0C0C0C;
}
.container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 40%;
}
input{
    width: 60%;
    padding: 2%;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}
input::placeholder{
    color: white;
    font-style: italic;
}
span{
    color: var(--pink-main);
}
 #passWordConfirm{
    margin-right: 36%;
}

label{
    margin-right: 53%;
}
button{
    cursor: pointer;
    width: 65%;
    border: none;
    font-size: 1.2vw;
    padding: 2%;
    border-radius: 5px;
    background-color: var(--pink-main);
}
i{
    font-size: 0.8vw;
   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  @media (max-width: 600px){
    body{
        background-color: #A45EE3;

    }
    .main{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    h1{
        margin-top: 20%;
    }
    
    .container{
        
        display: flex;
        align-items: center;
        height: 20%;
        flex-direction: column;
        width: 90%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        width: 86%;
        margin-bottom: 5%;
        
    }
    
    span{
        color: var(--pink-main);
    }
    input{
        width: 70%;
        padding: 2%;
        background: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 5px;
    }
    input::placeholder{
        color: white;
        font-style: italic;
    }
     #passWordConfirm{
        margin-left: 10%;
    }
    
    label{
        margin-left: 4%;
    }
    button{
        cursor: pointer;
        width: 65%;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background-color: var(--pink-main);
    }
    i{
        font-size: 13px;
       
    }
  }
  @media (max-width: 800px){
    body{
        background-color: #A45EE3;

    }
    .main{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    h1{
        margin-top: 20%;
    }
    
    .container{
        display: flex;
        align-items: center;
        height: 20%;
        flex-direction: column;
        width: 80%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        width: 80%;
        margin-bottom: 5%;
      
    }
    
    span{
        color: var(--pink-main);
    }
    input{
        width: 60%;
        padding: 2%;
        background: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 5px;
    }
    input::placeholder{
        color: white;
        font-style: italic;
    }
     #passWordConfirm{
        margin-right: 30%;
    }
    
    label{
        margin-right: 60%;
    }
    button{
        cursor: pointer;
        width: 65%;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background-color: var(--pink-main);
    }
    i{
        font-size: 13px;
       
    }
  }
  @media (max-width: 1000px){
    body{
        background-color: #A45EE3;

    }
    .main{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    h1{
        margin-top: 4%;
    }
    
    .container{
        display: flex;
        align-items: center;
        height: 20%;
        flex-direction: column;
        width: 80%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        width: 80%;
    }
    
    span{
        color: var(--pink-main);
    }
    input{
        width: 60%;
        padding: 2%;
        background: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 5px;
    }
    input::placeholder{
        color: white;
        font-style: italic;
    }
     #passWordConfirm{
        margin-right: 45%;
    }
    
    label{
        margin-right: 58%;
    }
    button{
        cursor: pointer;
        width: 65%;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background-color: var(--pink-main);
    }
    i{
        font-size: 13px;
       
    }
  }