/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors light */
    --pink-main: #FD60AF;
    --purple-dark: #554DD4;
    --purple-light: #A45EE3;
    --font-color: white;

    --shadow: box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);

}
body{
    background-color: #A45EE3;
    background-size: 100% 110%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='555' preserveAspectRatio='none' viewBox='0 0 1440 555'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1152%26quot%3b)' fill='none'%3e%3crect width='1440' height='555' x='0' y='0' fill='rgba(164%2c 94%2c 227%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c291.73C70.506%2c302.792%2c140.957%2c348.719%2c207.455%2c322.806C275.583%2c296.258%2c326.01%2c228.105%2c344.684%2c157.412C362.512%2c89.92%2c319.818%2c24.307%2c304.281%2c-43.749C290.232%2c-105.287%2c297.158%2c-174.034%2c257.757%2c-223.348C217.831%2c-273.32%2c153.863%2c-297.82%2c91.166%2c-310.484C31.799%2c-322.476%2c-26.253%2c-302.901%2c-85.967%2c-292.778C-154.416%2c-281.174%2c-229.913%2c-289.307%2c-284.77%2c-246.755C-343.41%2c-201.269%2c-382.407%2c-129.93%2c-390.946%2c-56.21C-399.395%2c16.736%2c-372.657%2c90.722%2c-330.852%2c151.095C-292.739%2c206.137%2c-231.065%2c237.479%2c-169.45%2c263.67C-115.671%2c286.53%2c-57.73%2c282.672%2c0%2c291.73' fill='%239c50e1'%3e%3c/path%3e%3cpath d='M1440 979.5419999999999C1534.281 991.0989999999999 1638.575 1039.674 1719.0230000000001 989.169 1799.43 938.69 1795.988 821.837 1831.47 733.778 1865.042 650.4590000000001 1924.2939999999999 575.512 1921.882 485.716 1919.339 391.062 1876.079 302.257 1817.871 227.57299999999998 1757.599 150.24 1679.019 88.43799999999999 1586.642 55.581999999999994 1490.956 21.548999999999978 1377.402-9.927999999999997 1288.5819999999999 39.31600000000003 1200.127 88.35700000000003 1190.554 209.35399999999998 1145.743 300.025 1112.921 366.438 1088.26 431.707 1060.6770000000001 500.462 1023.1859999999999 593.914 922.808 681.145 954.505 776.718 985.422 869.9390000000001 1111.103 887.9 1201.727 925.76 1278.41 957.796 1357.511 969.431 1440 979.5419999999999' fill='%23ac6ce5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1152'%3e%3crect width='1440' height='555' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: white;
}

@font-face {
    font-family: 'Clarika';
    src: url(./Wild\ Edge\ -\ Clarika\ Pro\ GeoDEMO\ Heavy.otf);
}

::-webkit-scrollbar {
    background-color: var(--pink-main);
    width: 8px;
}
h1{
    margin-top: 4%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 40%;
    margin-bottom: 5%;
}

span{
    color: var(--pink-main);
}
input{
    width: 60%;
    padding: 2%;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}
input::placeholder{
    color: white;
    font-style: italic;
}
 #passWordConfirm{
    margin-right: 36%;
}

label{
    margin-right: 53%;
}
button{
    cursor: pointer;
    width: 65%;
    font-weight: bold;
    font-size: 1.2vw;
    border: none;
    padding: 2%;
    border-radius: 5px;
    background-color: var(--pink-main);
}
i{
    font-size: 0.8vw;
   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  @media (max-width: 600px){
    body{
        background-color: #A45EE3;

    }
    .main{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    h1{
        margin-top: 20%;
    }
    
    .container{
        
        display: flex;
        align-items: center;
        height: 20%;
        flex-direction: column;
        width: 80%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        width: 80%;
        margin-bottom: 5%;
      
    }
    
    span{
        color: var(--pink-main);
    }
    input{
        width: 60%;
        padding: 2%;
        background: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 5px;
    }
    input::placeholder{
        color: white;
        font-style: italic;
    }
     #passWordConfirm{
        margin-right: 36%;
    }
    
    label{
        margin-right: 53%;
    }
    button{
        cursor: pointer;
        width: 65%;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background-color: var(--pink-main);
    }
    i{
        font-size: 13px;
       
    }
  }
  @media (max-width: 800px){
    body{
        background-color: #A45EE3;

    }
    .main{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    h1{
        margin-top: 20%;
    }
    
    .container{
        display: flex;
        align-items: center;
        height: 20%;
        flex-direction: column;
        width: 80%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        width: 80%;
        margin-bottom: 5%;
      
    }
    
    span{
        color: var(--pink-main);
    }
    input{
        width: 60%;
        padding: 2%;
        background: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 5px;
    }
    input::placeholder{
        color: white;
        font-style: italic;
    }
     #passWordConfirm{
        margin-right: 36%;
    }
    
    label{
        margin-right: 53%;
    }
    button{
        cursor: pointer;
        width: 65%;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background-color: var(--pink-main);
    }
    i{
        font-size: 13px;
       
    }
  }
  @media (max-width: 1000px){
    body{
        background-color: #A45EE3;

    }
    .main{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    h1{
        margin-top: 14%;
    }
    
    .container{
        display: flex;
        align-items: center;
        height: 20%;
        flex-direction: column;
        width: 80%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        width: 80%;
       
        margin-bottom: 5%;
      
    }
    
    span{
        color: var(--pink-main);
    }
    input{
        width: 60%;
        padding: 2%;
        background: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 5px;
    }
    input::placeholder{
        color: white;
        font-style: italic;
    }
     #passWordConfirm{
        margin-right: 36%;
    }
    
    label{
        margin-right: 53%;
    }
    button{
        cursor: pointer;
        width: 65%;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background-color: var(--pink-main);
    }
    i{
        font-size: 13px;
       
    }
  }