/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url(./Gotham-Bold.otf);
}
*{
  font-family: 'Poppins';
}
:root {
    /* Colors light */
    --pink-main: #FD60AF;
    --purple-dark: #554DD4;
    --purple-light: #A45EE3;

    /* Sombra */
    /*
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
*/
}
.dark_mode:root{
    --pink-main: #FABB28;
    --purple-dark: #211E1F;
    --purple-light: #0C0C0C;
    --font-color: black;
}
.container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    height: 90%;
}

body {
  overflow-x: hidden;
}

li {
    list-style: none;
}
a {
    
    text-decoration: none;
    color: white;
   
  }
  .container_nav{
      display: flex;
      align-items: center;
      justify-content: center;
     
  }
  .site-header { 
    width: 100%;
    background-color: var(--purple-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-identity{
    padding-left: 4%;
    margin: auto;
  }

  .footer-identity img {
    height: 3vw;
  }
  
  .site-identity img {
    height: 30px;
  }
  
  .site-navigation {
    width: 100%;
    display: flex;
    margin-right: 5%;
  }
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .hamburger {
    display: none;
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    transition: all 0.5s ease;
    width: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .footer-distributed{
    background: var(--purple-light);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    float: left;
  }
  
  /* The company logo */
  
  .footer-distributed h1{
    font-size: 50px;
    color:  #ffffff;
    margin: 0 0 10px;
  }
  

  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
   
    margin: 0 0 10px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-right{
    float: right;
  }
  
  .footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
  }
  
  /* The contact form */
  
  .footer-distributed form{
    display: inline-block;
  }
  
  .footer-distributed form input,
  .footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;
    width: 400px;
    padding: 18px;
  }
  
  .footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
  }
  
  .footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
  }
  
  .footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
  }
  
  
  .footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
  }
  
  .footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
  }
  
  .footer-distributed form button{
    border-radius: 3px;
    background-color:  var(--pink-main);
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
  }
  

  @media (max-width: 1000px) {
  
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-company-name{
      font-size: 12px;
    }
  
    .footer-distributed form input,
    .footer-distributed form textarea{
      width: 250px;
    }
  
    .footer-distributed form button{
      padding: 10px 35px;
    }
  
  }
  
  @media (max-width: 800px) {

    .site-navigation {
      position: fixed;
      background-color: var(--purple-light);
      height: 13%;
      margin-right: 0%;
    }
    nav {
      position: fixed;
      z-index: 3;
      background-color: white;
    }
  
    .nav-links {
      justify-content: space-evenly;
    }

    .site-identity {
      position: absolute;
      top: 55%;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 58%;
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: var(--purple-light);
      height: 110%;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      transition: all 1s ease-out;
    }
  
    .nav-links.open {
      clip-path: circle(100%);
      -webkit-clip-path: circle(100%);
    }

    .footer-distributed{
      padding: 30px;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      float: none;
      max-width: 300px;
      margin: 0 auto;
    }
  
    .footer-distributed .footer-left{
      margin-bottom: 40px;
    }
  
    .footer-distributed form{
      margin-top: 30px;
    }
  
    .footer-distributed form{
      display: block;
    }
  
    .footer-distributed form button{
      float: none;
    }
  }
  
