/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url(./Gotham-Bold.otf);
}

:root {
    /* Colors light */
    --pink-main: #FD60AF;
    --purple-dark: #554DD4;
    --purple-light: #A45EE3;

    /* Sombra */
    /*
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
*/
}
.dark_mode:root{
    --pink-main: #FABB28;
    --purple-dark: #211E1F;
    --purple-light: #0C0C0C;
    --font-color: black;
}
.container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    height: 90%;
}
li {
    list-style: none;
}
a {
    font-family: 'Poppins';
    text-decoration: none;
   
  }
  .container_nav{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2%;
     
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    border-width: 100%;
    z-index: 100;
    width:100%;
    position: fixed;
    background-color: var(--pink-main);
    display: flex;
    justify-content: space-between;
  }
  
  .site-identity h1 {
    color: white;
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }


@media only screen and (max-width:700px) {
    .nav ul {
        width: 100%;
        background-color: var(--pink-main);
    }
}